/* External Fonts */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    margin: 20px 100px;
}

h1, nav {
    display: inline-block;
    cursor: pointer;
}

nav {
    float: right;
}

nav li {
    display: inline-block;
    margin: 0 20px;
    font-size: 1.2rem;
}

nav li:hover {
    cursor: pointer;
}

/* Body Styles */
body {
    background-color: pink;
    font-family: 'Didact Gothic', sans-serif;
}

/* Main Styles */
main {
    display: grid;
    margin: 20px 100px;
}


@media only screen and (max-width: 480px)  {

}